{% extends "base.html" %}

{% block title %}Blog Details - Blog Project{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card shadow border-0 mx-5 my-3 px-5 py-2">
    <div class="">
          <img src="{{blog.image.url}}" class="card-img-top w-50" alt="">
          <div class="card-body">
            <h1 class="card-title">{{blog.title}}</h1>
            <p class="card-text">{{ blog.content }}</p>
            <small class="d-block text-end mb-3">Author - {{blog.author.first_name}} {{blog.author.last_name}} </small>
            <p>
              Category :
              <p>
                {% for cat in blog.category.all %}
                  <button class="btn btn-sm shadow m-1" disabled>{{cat.name}}</button>
                {% endfor %}
              </p>
            </p>
        </div>
    </div>
</div>
<div class="card shadow border-0 mx-5 ps-3 py-2">
    <h5 class="w-50 mb-2 ps-2 border border-5 border-top-0 border-end-0 border-bottom-0 border-danger">Total Comments: {{comments | length}}</h5>
    {% for comment in comments %}
    <div class="card-body border rounded my-1 w-50">
        <p><b>{{comment.name}}</b> {{comment.created_on}} </p>
        <p class="ms-3">{{comment.body}}</p>
    </div>
    {% endfor %}
</div>
<div class="card shadow border-0 mx-5 my-2 px-5 py-2">
    <h1 class="text-center w-50 mt-3">Add Comment</h1>
    <div class="card-body w-50">
        <form action="" method="POST">
            {% csrf_token %}
            {{comment_form | crispy}}

            <button class="btn btn-warning" type="submit">Comment</button>
        </form>
    </div>
</div>
{% endblock content %}