{% extends "base.html" %}
{% load static  %}

{% block title %}Home - {% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Welcome to <span class="text-success">Car Bazaar</span> – Where Your Dream Car Awaits!</h1>
    <div class="d-flex flex-wrap justify-content-evenly align-items-center pt-3">
        <div class="col-6">
          <p style='text-align: justify;'>
            Are you ready to drive in style? At Car Bazaar, we believe that buying a car should be an exciting, hassle-free experience. Here's why choosing us is the best decision you'll make:

            <span class="my-2 d-block">
                From sleek sedans to rugged SUVs, our extensive inventory offers something for everyone. Whether you're looking for a brand-new model with cutting-edge technology or a reliable pre-owned vehicle, you'll find your perfect match here.
            </span>

            <span class="my-2 d-block">
                Every car we sell undergoes rigorous inspections to ensure top-notch quality. We stand by our vehicles with warranties and certifications, so you can drive off with confidence, knowing you've made a smart investment.
            </span>
          </p>
        </div>
        <div class="col-6">
          <img src="{% static 'carBazaar.jpg' %}" alt="" style="width: 460px;height: 270px;" class="ms-4 mb-3">
        </div>
      </div>

      <div class="card h-75 my-5 p-2 border-5 border-start-0 border-end-0 border-bottom-0 border-info shadow">
        <div class="d-flex flex-wrap justify-content-evenly my-2">
          {% for brand in brands %}
          <div class="form-check">
            <input 
            class="form-check-input" 
            type="radio" 
            name="brand"
            id="brand-{{brand.id}}"
            {% if slBrand and slBrand.id == brand.id %} checked {% endif %} 
            onclick="window.location.href='{% url 'brand_wise_post' brand.slug %}'"
            />
            <label class="form-check-label" for="brand-{{brand.id}}">
              {{brand.name}}
            </label>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="">
        <h2 class="card ms-3 mt-5 p-2 w-50 border-5 border-top-0 border-end-0 border-bottom-0 border-warning">Total car found : {{cars | length}}</h2>
        <div class="d-flex flex-wrap justify-content-center my-5 ps-3 pt-3">
          {% for car in cars %}
          <div class="col-sm-4 col-lg-4 mb-3">
            <div class="card h-100 me-2">
              <img src="{{car.image.url}}" class="card-img-top object-fit-cover w-100" style="height: 200px;" alt="">
              <div class="card-body d-flex flex-column flex-grow-1">
                <h5 class="card-title">{{car.title}}</h5>
                <p class="card-text">Price(Tk) : {{car.price}}</p>
                <p class="card-text">Brand Name : {{car.brand.name}}</p>
                
                <a class="w-50 text-decoration-none btn btn-outline-warning" href="{% url 'car_detail' car.id %}">View Details</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

</div>
{% endblock content %}